.main_container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_login{
    width: 400px;
    padding: 40px 20px;
    border-radius: 10px;
    background-color: #e2e2e2;
    padding-right: 50px;
}

.txt_login{
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.txt_forgot{
    margin-top: 10px;
    text-align: right;
}
